<div class="container">
  <section class="section" id="sectionHome">
    <div class="heading-banner ">
      <div>
        <h1 class="heading" id="headingUpper"></h1>
        <h2 class="heading" id="headingLower"></h2>
      </div>
    </div>
    <div class="intro-text">
      <h3 class="intro" id="introText"></h3>
    </div>
  </section>
  <section class="section" id="sectionProjects">
    <div class="projectsContainer">
      <div class="Recipeasy-card">
        <div class="images">
          <%= image_tag "homepage.png", class: 'fit-image' %>
        </div>
        <div class="stack">
        </div>
        <div class="description">
        <h2>Introducing Recipeasy - the ultimate web app for food enthusiasts and home cooks! With Recipeasy, browsing and uploading recipes has never been easier. Recipeasy provides a seamless way to create a personalized meal planner using a calendar and generate a comprehensive shopping list for the ingredients you need. Gone are the days of sifting through countless cookbooks or scribbling down ingredients on a piece of paper - Recipeasy streamlines the entire cooking process, making it a breeze to plan meals, manage recipes, and shop for groceries. Whether you're a seasoned chef or a novice in the kitchen, Recipeasy is the go-to tool to simplify your cooking experience and elevate your culinary adventures to new heights. Join the Recipeasy community today and embark on a culinary journey like never before!</h2>
        </div>
      </div>
      <div class="git-box" style=>
        <h1 class="git-log-title">Commit log </h1>
        <div class="commit-cards-container">
          <% @commit_details.each do |date_time, owner, message, url| %>
            <%= link_to url do %>
              <div class= "commit-card">
                <div class="card-container">
                  <div class="name-date">
                    <div class="commit-content" id="commit-date">
                      <%= owner %>
                    </div>
                    <div class="commit-content" id="commit-owner">
                      <%= date_time %>
                    </div>
                  </div>
                  <div class="commit-content" id="commit-message">
                    <%= message %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
    <section class="section" id="sectionContact">
      <a href="">section 4</a>
    </section>
  </div>
