<a id="top-tag"></a>
<section class="section" id="sectionhome">
  <div class="navbarcontainer" id="navbarcontainer">
    <div class="linkscontainer" id="linkscontainer">
      <ul class="linklist">
        <div class="link" id="linkone">
          <li>
            <i class="fa-solid fa-person-digging icon paddingright"></i>
            <a href="#sectionProjects" class="navlinkhover">Projects</a>
          </li>
        </div>
        <div class="link" id="linktwo">
          <li>
            <i class="fa-solid fa-house icon paddingright"></i>
            <a href="#top-tag" class="navlinkhover">Home </a>
          </li>
        </div>
        <div class="link" id="linkthree">
          <li>
            <i class="fa-solid fa-address-book icon paddingright"></i>
            <a href="#sectionContact" class="navlinkhover">Contact</a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="homepagecontainer">
    <div class="homeleftpanel">
      <div class="staticheading">Hi, my name is</div>
      <div class="homeheading">
        <span id="nameheading" class="sentence"></span>
        <span  id="namecursor"></span>
      </div>
      <div class="staticheading">I am a</div>
      <div class="homeheading">
        <span id="jobtitleheading" class="sentence"></span>
        <span id="jobtitlecursor"></span>
      </div>
      <div class="introtext" id="introtext">
      </div>
      <div class="buttonblue" id="buttonblue">
        <p class="buttontext">
          Check out my latest project
        </p>
      </div>
    </div>
  </div>
  <div class="square square--1"></div>
  <div class="square square--2"></div>
</section>
<section class="section" id="sectionproject">
  <div class="projectstitle">
    <h2 id="projectname">
      Projects
    </h2>
  </div>
  <div class="projectscontainer">
    <% @projects.each do |project| %>
      <div class="projectcard">
        <%= link_to project_path(project) do %>
          <div class="projectname">
            <%= project.name %>
          </div>
          <div class="projectimage">
            <%= image_tag (project.picture_url), :height=> "100%"  %>
          </div>
          <div class="descriptionshort">
            <%= project.short_description %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</section>
<section class="section" id="sectioncontact">
  <h1 class="mystack">My stack</h1>
  <div class="stackpanel">
    <% @technologies.each do |tech|  %>
      <div class="techcard">
        <div class="techname">
          <%= tech.name %>
        </div>
        <div class="techlogo">
          <%= image_tag (tech.logo_path), :height=> "100%"  %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="contactheader">
    <h2>Feel free to get in touch if you would like to colobarate</h2>
  </div>
  <%= simple_form_for (@message) do |f| %>
    <%= f.input :contact_name %>
    <%= f.input :contact_number %>
    <%= f.input :contact_email %>
    <%= f.input :message %>
    <%= f.button :submit %>
  <% end %>
</section>
