<a id="top-tag"></a>
<section class="section" id="sectionhome">
  <div class="navbarcontainer" id="navbarcontainer">
    <div class="linkscontainer" id="linkscontainer">
      <ul class="linklist">
        <div class="link" id="linkone">
          <li>
            <i class="fa-solid fa-person-digging icon paddingright"></i>
            <a href="#sectionprojects" class="navlinkhover">Projects</a>
          </li>
        </div>
        <div class="link" id="linktwo">
          <li>
            <i class="fa-solid fa-house icon paddingright"></i>
            <a href="#top-tag" class="navlinkhover">Home </a>
          </li>
        </div>
        <div class="link" id="linkthree">
          <li>
            <i class="fa-solid fa-address-book icon paddingright"></i>
            <a href="#sectioncontact" class="navlinkhover">Contact</a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="homepagecontainer">
    <div class="homeleftpanel">
      <div class="staticheading">Hi, my name is</div>
      <div class="homeheading">
        <span id="nameheading" class="sentence"></span>
        <span  id="namecursor"></span>
      </div>
      <div class="staticheading">I am a</div>
      <div class="homeheading">
        <span id="jobtitleheading" class="sentence"></span>
        <span id="jobtitlecursor"></span>
      </div>
      <div class="introtext" id="introtext">
      </div>
      <div class="homepagelinkscontainer" id="homepagelinkscontainer">
        <a href="https://www.linkedin.com/in/christopher-warner-a18419244/" target="_blank" class="homepagelinkicon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/ChrisWarner94" target="_blank" class="homepagelinkicon"><i class="fa-brands fa-square-github"></i></a>
      </div>
      <div class="buttonblue" id="buttonblue">
        <p class="buttontext">
          Check out my latest project
        </p>
      </div>
    </div>
  </div>
  <div class="square square--1"></div>
  <div class="square square--2"></div>
</section>
<section class="section" id="sectionprojects">
  <div class="projectstitle">
    <h2 id="projectname">
      Projects
    </h2>
  </div>
  <div class="projectscontainer">
    <% @projects.each do |project| %>
      <div class="projectcard">
        <%= link_to project_path(project) do %>
          <div class="projectname">
            <%= project.name %>
          </div>
          <div class="projectimage">
            <%= image_tag (project.picture_url), :height=> "100%"  %>
          </div>
          <div class="descriptionshort">
            <%= project.short_description %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="section" id="sectioncontact">
<div class="resumebutton">
</div>
  <div class="contactheader">
    <h2>Feel free to get in touch if you would like to colobarate</h2>
  </div>
  <div class="contactformcontainer">
    <%= simple_form_for @contact, url: contacts_path, html: { autocomplete: 'off' }, data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} do |f|  %>
      <div class="namenumber">
        <div class="namesection">
          <%= f.input :name, label: false, input_html: { class: 'inputboxwidth' }, placeholder: 'Name'   %>
        </div>
        <div class="numbersection ">
          <%= f.input :phone_number, label: false, input_html: { class: 'inputboxwidth' }, placeholder: 'Number'   %>
        </div>
      </div>
      <div class="emailsection ">
        <%= f.input :email, label: false, input_html: { class: 'inputboxwidth' }, placeholder: 'Email'  %>
      </div>
      <div class="messagesection">
        <%= f.input :message,  as: :text, label: false, input_html: { class: 'messagebox' }, placeholder: 'Message'  %>
      </div>
      <div class="submitsection">
        <%= f.submit 'Send', label: false,  class: 'contactsubmit' , type: :submit%>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <ul class="footerlistlinks">
      <li><a href="https://www.linkedin.com/in/christopher-warner-a18419244/" target="_blank" class="footerlinkicon"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://github.com/ChrisWarner94" target="_blank" class="footerlinkicon"><i class="fa-brands fa-square-github"></i></a></li>
    </ul>
    <p class="footerheading">
      Built and designed by Christopher Warner
    </p>
  </div>
</section>
