<a id="top-tag"></a>
<section class="section" id="sectionhome">
  <div class="homepagecontainer">
    <div class="homeleftpanel">
      <div class="staticheading">Hi, my name is</div>
      <div class="homeheading">
        <span id="nameheading" class="sentence"></span>
        <span  id="namecursor"></span>
      </div>
      <div class="staticheading">I am a</div>
      <div class="homeheading">
        <span id="jobtitleheading" class="sentence"></span>
        <span id="jobtitlecursor"></span>
      </div>
      <div class="introtext" id="introtext">
      </div>
      <div class="homepagelinkscontainer" id="homepagelinkscontainer">
        <a href="https://www.linkedin.com/in/christopher-warner-a18419244/" target="_blank" class="homepagelinkicon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/ChrisWarner94" target="_blank" class="homepagelinkicon"><i class="fa-brands fa-square-github"></i></a>
      </div>
      <div class="buttonblue" id="buttonblue">
        <p class="buttontext">
          Check out my latest project
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section" id="sectionprojects">
  <div class="pagetitle">
    <h2>
      Projects
    </h2>
  </div>
  <div class="projectscontainer">
    <% @projects.each do |project| %>
      <div class="projectcard">
        <%= link_to project_path(project) do %>
          <div class="projectimage">
            <%= image_tag (project.picture_url), class: 'fit-image' %>
          </div>
          <div class="linksnamecontainer">
            <div class="projectname">
              <%= project.name %>
            </div>
            <div class="projectcardlinks">
              <i class="fa-solid fa-link"></i>
              <i class="fa-brands fa-github"></i>
            </div>

          </div>
          <div class="descriptionshort">
            <%= project.short_description %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="section" id="sectionabout">
  <div class="pagetitle">
    <h2>
      About Me
    </h2>
  </div>
  <div class="abouttext">
    <p>I'm a person who enjoys a few different hobbies. I have a passion for coding, and I love nothing more than diving into a challenging project and seeing it through to completion. I find it incredibly satisfying to use my programming skills to bring new ideas to life.<br>
      <br>

      When I'm not coding, you can often find me gaming. Whether it's an RPG, a shooter, or a strategy game, I'm always up for trying something new.<br>
      <br>

      But gaming isn't my only hobby, I also enjoy fishing. It's a relaxing pastime that allows me to enjoy the great outdoors and connect with nature. Whether I'm fishing in a river or a lake there's something about the peacefulness of being on the water that I find incredibly rejuvenating.<br>
      <br>

      Overall, I'm someone who loves to learn new things and explore new opportunities. Whether it's through coding, gaming, or fishing, I'm always looking for ways to challenge myself and expand my horizons.</p>
  </div>
  <div class="hobbyicons">
    <i class="fa-solid fa-code"></i>
    <i class="fa-solid fa-gamepad"></i>
    <i class="fa-solid fa-fish"></i>
  </div>
</section>
<section class="section" id="sectioncontact">
  <div class="pagetitle" id="titlecontact">
    <h2>Feel free to get in touch</h2>
  </div>
  <div class="contactsectioncontainer">
    <div class="contactformcontainer">
      <%= simple_form_for @contact, url: contacts_path, html: { autocomplete: 'off' }, data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} do |f|  %>
        <div class="namenumber">
          <div class="namesection">
            <%= f.input :name, label: false, input_html: { class: 'inputboxwidth' }, placeholder: 'Name'   %>
          </div>
          <div class="numbersection ">
            <%= f.input :phone_number, label: false, input_html: { class: 'inputboxwidth' }, placeholder: 'Number'   %>
          </div>
        </div>
        <div class="emailsection ">
          <%= f.input :email, label: false, input_html: { class: 'inputboxwidth' }, placeholder: 'Email'  %>
        </div>
        <div class="messagesection">
          <%= f.input :message,  as: :text, label: false, input_html: { class: 'messagebox' }, placeholder: 'Message'  %>
        </div>
        <div class="submitsection">
          <%= f.submit 'Send', label: false,  class: 'contactsubmit' , type: :submit%>
        </div>
      <% end %>
    </div>
  </div>
</section>
<a id="bottom-tag"></a>
